<!DOCTYPE html>
<html lang="es-co" >
<head>
<title>Sistema de Cotización | SiCoBotero</title>
<link rel="stylesheet" type="text/css" href="/static/cotizacion/base.css">
<link rel="stylesheet" type="text/css" href="/static/cotizacion/dashboard.css">
<link rel="stylesheet" type="text/css" href="/static/cotizacion/js/select2/select2.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
</head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/cotizacion/js/select2/select2.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{% block scripts %}

{% endblock %}
<body class="dashboard">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            {% if request.session.url_image != null %}
                <img src="{{ request.session.url_image }}" />
            {% endif %}

        <h1>{{ request.session.enterprise.nombre }}</h1>
        </div>

        <div id="user-tools">
            Bienvenido/a,
            <strong>{{ request.user.nombre }}</strong>.
                {% if request.user.is_staff %}
                <a href="">Cambiar contraseña</a> /
                {% endif %}
                <a href="{% url 'logout' %}">Terminar sesión</a>

        </div>


    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colMS">
    <h1>Cotizacion</h1>

    <div id="content-main">
    {% block content-main %}


    {% endblock %}
    </div>
    <!-- END Content -->
    {% if user.is_staff %}
        <a id="cont-panel" href="{% url 'admin:index' %}"><img src="/static/cotizacion/img/display.png"/>Volver al panel de administración</a>
    {% endif %}
</div>
<!-- END Container -->
<div id="footer">
        <p>
            CopyRight . Powered By Django. A Django Proyect by: Luis Moncaris.
        </p>
</div>
<!--Footer-->
</div>

</body>
</html>