{% extends "cotizador/base.html" %}
{% load extratags %}
{% block scripts %}
<script>
    $(document).ready(function (){
        $("#id_moto").select2();
        $("#id_cliente").select2();
        $("#pop").dialog({autoOpen:false,
            title:"Agregar Cliente",
            resizable:false,
            position: { my: "center", at: "top", of: window },
            close:function(event,ui){
                location.reload();
            },width:600
        });

        $("#openPop").click(function(){
            window.open("/add_cliente/","_blank",'width=500,height=600');
        });

        $("#form_cot").submit(function(event){
            $.post("/cotizacion/",this)
        });

    });
</script>
{% endblock %}

{% block content-main %}
<div id="cotizacion-datos">
<form id="form_cot" method="POST">{% csrf_token %}
<table>
<tr><th><label for="id_moto">Moto:</label></th><td>{{ form.moto }}</td></tr>
<tr><th><label for="id_cliente">Cliente:</label></th><td>{{ form.cliente }}<a id="openPop" href="#"><img id="add_cliente" src="/static/cotizacion/img/list-add.png" />Nuevo Cliente</a></td></tr>
<tr><th><label for="id_n_cuotas">N° de Cuotas:</label></th><td>{{ form.n_cuotas }}<br/>
    <span class="helptext"> Mantenga presionado "Control", o "Command" en un Mac, para seleccionar más de una opción.</span>
</td></tr>
<tr><th><label for="id_cuota_inicial">Cuota Inicial:</label></th><td>{{ form.cuota_inicial }}</td></tr>
<tr><th><label for="id_matricula_asociada">Matricula Asociada:</label></th><td>{{ form.matricula_asociada }}<br/><span class="helptext"> Mantenga presionado "Control", o "Command" en un Mac, para seleccionar más de una opción.</span></td></tr>
</table>
    <input type="submit" value="Realizar" id="cotizar"/>
</form>
</div>
{% endblock %}