{% extends "cotizador/base.html" %}
{% load extratags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/cotizacion/aside.css">
<link rel="stylesheet" type="text/css" href="/static/cotizacion/cotizador.css">
{% endblock %}
{% block scripts %}
<script src="/static/cotizacion/js/jquery.formset.min.js" type="text/javascript" ></script>
<script>
    $(document).ready(function(){
    $("#id_cliente option[value='']").remove();
    $("#id_cliente").select2();
    $("#id_medio").select2();
    $("#id_requisitos").select2();
        {% if not is_inerror %}
            add_row();
        {% endif %}
    $("#add_moto").click(function(event){
        event.preventDefault();
        add_row();
    });
    $("#cotizar").click(function(event){
       event.preventDefault();
       $("#cotizacion").submit();
    });
    $(".select2menu").select2();
    $(".select2mult").select2();
    function add_row(){
        rows = $("#rows");
        if(parseInt(rows.val())<8){
        rows.val(parseInt(rows.val())+1);
            $.get("/get_row/"+rows.val(),function(data){
                $("#hijos").append(data);
                $("#id_moto_"+rows.val()).select2();
                $("#id_n_cuotas_"+rows.val()).select2();
            });
        }else{
            alert("Maximo 8 motos por cotizacion")
        }
    };
    });
</script>
{% endblock %}
{% block content-main %}
<h1>Cotizacion</h1>
<form method="POST" action="/cotizacion/" id="cotizacion">{% csrf_token %}
<table id="maestro">
<tr><th><label for="id_cliente">Cliente:</label></th><td>{{ form.cliente }}<a href="/agregar_cliente/" target="_blank" onClick="window.open(this.href, this.target, 'width=500,height=600'); return false;"><img src="/static/cotizacion/img/list-add.png" /></a>{{ form.cliente.errors }}</td></tr>
<tr><th><label for="id_no_aplicables">No aplicables:</label></th><td>{{ form.no_aplicables }}{{ form.no_aplicables.errors }}</td></tr>
<tr><th><label for="id_medio">Medio:</label></th><td>{{ form.medio }}{{ form.medio.errors }}</td></tr>
<tr><th><label for="id_requisitos">Requisitos: </label></th><td>{{ form.requisitos }}{{ form.requisitos.errors }}</td></tr>
</table>
<a href="#" id="add_moto" class="button"> <span>Añadir Moto</span></a>

<table>
    <thead>
    <tr>
    <td>
        Moto
    </td>
    <td>
        Cuota Inicial
    </td>
    <td>
        No. de Cuotas
    </td>
    <td>
        Tipo de Cotizacion.
    </td>
    </tr>
    </thead>
    {% autoescape off %}
    <tbody id="hijos">

        {{ contenttable }}

    </tbody>
    {% endautoescape %}
</table>
<ul class="errorlist">
{% for error in errors %}
    <li>{{ error }}</li>
{% endfor %}
</ul>
<input id="rows" type="hidden" value="{{ inline }}" name="rows"/>
<a id="cotizar" href="#" class="button">Cotizar</a>
</form>
{% endblock %}

{% block sidebar %}

        <div class="menu-item">
        {% if request.user.is_staff %}
        <h4><a href="#">Administracion</a></h4>
        <ul>
                    <li><a href="/admin/Sistema_Principal/cliente/">Clientes</a></li>

                    {% if request.user.is_superuser %}
                    <li><a href="/admin/Sistema_Principal/empresa/">Empresas</a></li>
                    {% endif %}
                    <li><a href="/admin/Sistema_Principal/inventario_motos/">Inventario de Motos</a></li>

                    <li><a href="/admin/Sistema_Principal/kit/">Kits</a></li>

                    <li><a href="/admin/Sistema_Principal/matricula/">Matriculas</a></li>

                    <li><a href="/admin/Sistema_Principal/medio_publicitario/">Medios Publicitarios</a></li>

                    <li><a href="/admin/Sistema_Principal/moto/">Motos</a></li>

                    <li><a href="/admin/Sistema_Principal/t_financiacion/">Registros de Financiacion</a></li>

                    <li><a href="/admin/Sistema_Principal/requisitotabla/">Requisitos para Financiacion</a></li>

                    <li><a href="/admin/Sistema_Principal/usuario/">Usuarios</a></li>
      </ul>
    </div>

    <div class="menu-item">
      <h4><a href="#">Reportes</a></h4>
      <ul>
        <li><a href="/historial_cotizaciones/">Historial de Cotizaciones</a></li>
      </ul>
    </div>
    {% endif %}
    <div class="menu-item">
      <h4><a href="#">Aplicaciones</a></h4>
        <ul>
            <li><a id="cot-panel" href="/cotizacion/"><img src="/static/cotizacion/img/wallet.png"/><br>Cotizacion</a></li>
        </ul>
      </div>

{%endblock %}