{% extends "cotizador/base.html" %}
{% load extratags %}
{% block scripts %}
<script>
    $(document).ready(function (){
        $("#id_moto").select2();
        $("#id_cliente").select2();
        $("#id_no_aplicables").attr('disabled','disabled')
        $("#pop").dialog({autoOpen:false,
            title:"Agregar Cliente",
            resizable:false,
            position: { my: "center", at: "top", of: window },
            close:function(event,ui){
                location.reload();
            },width:600
        });
        initial = $("#id_cliente").select2("val")
        if(initial != 0){
        $.get("/vip_cli/"+initial+"/",function(data){
                    $("#id_no_aplicables").removeAttr("checked");
                    if(data.vip){
                        $("#id_no_aplicables").removeAttr('disabled')
                    }else{
                        $("#id_no_aplicables").attr('disabled','disabled')
                    }

                })
        }
        $("#openPop").click(function(){
            window.open("/add_cliente/","_blank",'width=500,height=600');
        });

        $("#form_cot").submit(function(event){
            $.post("/cotizacion/",this)
        });



        $("#id_cliente").change(function(event){
            value = $("#id_cliente").select2("val")
            if(value>=0){
                val = $.get("/vip_cli/"+value+"/",function(data){
                    $("#id_no_aplicables").removeAttr("checked");
                    if(data.vip){
                        $("#id_no_aplicables").removeAttr('disabled')
                    }else{
                        $("#id_no_aplicables").attr('disabled','disabled')
                    }

                })
            }
        });
    });
</script>
{% endblock %}

{% block content-main %}
<div id="cotizacion-datos">
<form id="form_cot" method="POST">{% csrf_token %}
<table>
<tr><th><label for="id_moto">Moto:</label></th><td>{{ form.moto }}{{ form.moto.errors }}</td></tr>
<tr><th><label for="id_cliente">Cliente:</label></th><td>{{ form.cliente }}{{ form.cliente.errors }}<a id="openPop" href="#"><img id="add_cliente" src="/static/cotizacion/img/list-add.png" />Nuevo Cliente</a></td></tr>
<tr><th><label for="id_n_cuotas">N° de Cuotas:</label></th><td>{{ form.n_cuotas }}{{ form.n_cuotas.errors }}<br/>
    <span class="helptext"> Mantenga presionado "Control", o "Command" en un Mac, para seleccionar más de una opción.</span>
</td></tr>
<tr><th><label for="id_cuota_inicial">Cuota Inicial:</label></th><td>{{ form.cuota_inicial }}{{ form.cuota_inicial.errors }}</td></tr>
<tr><th><label for="id_matricula_asociada">Matricula Asociada:</label></th><td>{{ form.matricula_asociada }}{{ form.matricula_asociada.errors }}<br/><span class="helptext"> Mantenga presionado "Control", o "Command" en un Mac, para seleccionar más de una opción.</span></td></tr>
    <tr><th><label for="id_matricula_asociada">Es VIP:</label></th><td>{{ form.no_aplicables }}{{ form.no_aplicables.errors }}</td></tr>
</table>

    <input type="submit" value="Realizar" id="cotizar"/>
</form>
</div>
{% endblock %}