<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/cotizacion/base.css">
    <title>Agregar Nuevo Cliente</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $(window).on('beforeunload',function(){
           opener.location.reload();
        });
        $('#ag_cli').click(function(){
            $("#formu").submit();
            opener.location.reload();
        });
    </script>
</head>
<body>
<form id="formu" action="/add_cliente/" method="POST">{% csrf_token %}
<fieldset>
<p>
    {{ form.cedula.errors }}
    <label class="field" for="id_cedula">Cedula:</label>{{ form.cedula }}<br /><span class="helptext">Cedula del Cliente</span>
</p>
<p>
    {{ form.nombre.errors }}
    <label class="field" for="id_nombre">Nombre:</label>{{ form.nombre }}<br /><span class="helptext">Nombre del Cliente</span>
</p>
<p>
    {{ form.apellidos.errors }}
    <label class="field" for="id_apellidos">Apellidos:</label>{{ form.apellidos }}<br/><span class="helptext">Apellidos del Cliente</span>
</p>
<p>
    {{ form.direccion.errors }}
    <label class="field" for="id_direccion">Direccion:</label>{{ form.direccion }}<br /><span class="helptext">Direccion de Cliente</span>
</p>
<p>
    {{ form.telefono.errors }}
    <label class="field" for="id_telefono">Telefono:</label>{{ form.telefono }}<br /><span class="helptext">Telefono del Cliente</span>
</p>
<p>
    {{ form.email.errors }}
    <label class="field" for="id_email">Email:</label>{{ form.email }}<br /><span class="helptext">Correo del cliente</span>
</p>
<p><label class="field" for="id_not_por_email">Not por email:</label>{{ form.not_por_email }}</p>
<input id="ag_cli" type="submit" value="Agregar">
</fieldset>
</form>
</body>
</html>