{% load extratags %}
<tr><td><select id="id_moto_{{ numero_inline }}" name="moto_{{ numero_inline }}" class="select2menu">
    {% for moto in motos %}
    <option value="{{ moto.id }}" class="moto" {% if moto.id == motosel.id %}selected="selected"{% endif %}>{{ moto.nombre_fab }} {{ moto.referencia }} {{ moto.modelo }}</option>
    {% endfor %}
</select></td>
<td>
    <input type="text" class="input" id="id_cuota_inicial_{{ numero_inline }}" name="cuota_inicial_{{ numero_inline }}" value="{{ cinicial }}"/>
</td>
<td>
    <select id="id_n_cuotas_{{ numero_inline }}" class="n_cuotas select2mult" name="n_cuotas_{{ numero_inline }}" multiple>
        {% for cuota in cuotas %}
            <option value="{{ cuota.id }}">{{ cuota.num_meses }}</option>
        {% endfor %}
    </select>
</td>
<td>
    <select id="id_tipo_{{ numero_inline }}"  name="id_tipo_{{ numero_inline }}">
        <option value="1">Credito</option>
        <option value="2">Contado</option>
    </select>
</td>
<td>
    <div id="prv_moto_{{ numero_inline }}">
    {% if not is_inerror %}
    <img src="{{ motos.0.imagen_preview.url }}" width="120px" />
    {% else %}
    <img src="{{ motosel.imagen_preview.url }}" width="120px" />
    {% endif %}
    </div>
</td>
</tr>
<script>
    $(document).ready(function(){
        $("#id_tipo_{{ numero_inline }}").select2()
                .on("change",function(evt){
                    sel = $("#id_tipo_{{ numero_inline }}").select2("val")
                    if(sel == 1){
                        $("#id_n_cuotas_{{ numero_inline }}").select2("enable",true);
                        $("#id_cuota_inicial_{{ numero_inline }}").attr("disabled",false);;
                    }else if (sel == 2){
                        $("#id_n_cuotas_{{ numero_inline }}").select2("enable",false);
                        $("#id_cuota_inicial_{{ numero_inline }}").attr("disabled",true);
                    }
                })
        $("#id_n_cuotas_{{ numero_inline }}").select2()
                .on("change",function(){
                    vals = $("#id_n_cuotas_{{ numero_inline }}").select2("val")
                    $("#id_n_cuotas_{{ numero_inline }}").select2("val","")
                    $("#id_n_cuotas_{{ numero_inline }}").select2("val",vals)

                })
        $("#id_moto_{{ numero_inline }}").select2()
                .on("change",function(){
                    id_moto = $("#id_moto_{{ numero_inline }}").select2("val")
                    $.get("/getimagen/"+id_moto+"/",function(data){
                                $("#prv_moto_{{ numero_inline }}").html(data);
                            });
                });

    })
</script>