{% extends "cotizador/base.html" %}
{% load extratags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/cotizacion/aside.css">
    <link rel="stylesheet" type="text/css" href="/static/cotizacion/historial_cot.css">
    <link rel="stylesheet" type="text/css" href="/static/cotizacion/jquery.dataTables.css">
{% endblock %}
{% block scripts %}
    <script type ="text/javascript" language="JavaScript" src="/static/cotizacion/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".datatable").dataTable({
                aaSorting:[[1,"desc"]]
            });

        })
    </script>
{% endblock %}

{% block content-main %}
    <table class="datatable">
        <thead>
            <tr>
                <td>N°</td>
                <td>Fecha</td>
                <td>Cliente</td>
                <td>Vendedor</td>
                <td> Ver </td>
                <td>Pdf</td>
            </tr>
        </thead>
        <tbody>
        {% for cot in cotizaciones %}
            <tr>
            <td>{{ cot.numeracion }}</td>
            <td>{{ cot.fecha_cot }}</td>
            <td>{{ cot.cliente.nombre }} {{ cot.cliente.apellidos }}</td>
            <td>{{ cot.vendedor.nombre }} {{ cot.vendedor.apellidos }}</td>
            <td><a href="/reporte/{{ cot.id }}/"><img src="/static/cotizacion/img/open.png" width="20px"></a></td>
            <td><a href="#" onclick="window.open('/reportepdf/{{ cot.id }}/','_blank','width=800,height=600');"><img src="/static/cotizacion/img/acroread.png" /></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
     <div class="menu-item">
        {% if request.user.is_staff %}
        <h4><a href="#">Administracion</a></h4>
        <ul>
                    <li><a href="/admin/Sistema_Principal/cliente/">Clientes</a></li>

                    {% if request.user.is_superuser %}
                    <li><a href="/admin/Sistema_Principal/empresa/">Empresas</a></li>
                    {% endif %}
                    <li><a href="/admin/Sistema_Principal/inventario_motos/">Inventario de Motos</a></li>

                    <li><a href="/admin/Sistema_Principal/kit/">Kits</a></li>

                    <li><a href="/admin/Sistema_Principal/matricula/">Matriculas</a></li>

                    <li><a href="/admin/Sistema_Principal/medio_publicitario/">Medios Publicitarios</a></li>

                    <li><a href="/admin/Sistema_Principal/moto/">Motos</a></li>

                    <li><a href="/admin/Sistema_Principal/t_financiacion/">Registros de Financiacion</a></li>

                    <li><a href="/admin/Sistema_Principal/requisitotabla/">Requisitos para Financiacion</a></li>

                    <li><a href="/admin/Sistema_Principal/usuario/">Usuarios</a></li>
      </ul>
    </div>

    <div class="menu-item">
      <h4><a href="#">Reportes</a></h4>
      <ul>
        <li><a href="/historial_cotizaciones/">Historial de Cotizaciones</a></li>
      </ul>
    </div>
    {% endif %}
    <div class="menu-item">
      <h4><a href="#">Aplicaciones</a></h4>
        <ul>
            <li><a id="cot-panel" href="/cotizacion/"><img src="/static/cotizacion/img/wallet.png"/><br>Cotizacion</a></li>
        </ul>
      </div>

{% endblock %}