<html>
{% load extratags %}
<head>
   <style>
    table{
        padding-top:5px;
        padding-left:5px;
    }
    .thead{
        background-color:lightblue;
    }

    .nothead{
        color: #000000;
        font-weight: lighter;
    }

    .titulo{
        font-size: 42px;
    }

    td{
    font-size: 15px;
    }

    td{
    font-weight: bold;
    }

    table{
    border:1px solid #003366;
    color:white;
    }

   </style>
</head>
<body>
<div>
    {% if request.session.url_image != null %}
        <img src="{{ request.session.enterprise.imagen.path }}" width='160px' height='110px'/>
    {% endif %}
    <h1 class=".titulo">{{ request.session.enterprise.nombre }}</h1><br>

</div>
<div id ="body_reporte">
<div id="left_side">
    <span>Ciudad :</span> <h4>{{ request.user.ciudad }}</h4>
    <span>Direccion :</span> <h4> {{ request.session.enterprise.direccion }}</h4>
    <span>Telefono :</span> <h4>{{ request.session.enterprise.telefono }}</h4>
    <span>Correo Electronico :</span> <h4>{{ request.session.enterprise.correo }}</h4><br>
    <span>Cotizacion Fecha :</span> <h4>{{ cot.fecha_cot }}</h4>
    <br>
    <span>Cliente : {{ cot.cliente.nombre|concat:" "|concat:cot.cliente.apellidos }}</span>
    <span>C.C : {{ cot.cliente.cedula }}</span>
<div id="right_side">
{% autoescape off %}
{{ content }}
{% endautoescape %}
</div>
</div>
</body>
</html>