{% extends "cotizador/base.html" %}
{% load extratags %}
{% block css%}
    <link href="/static/cotizacion/base.css" rel="stylesheet" type="text/css">
    <link href="/static/cotizacion/reporte.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}

{% block content-main %}
<div id="header_reporte">
    {% if request.session.url_image != null %}
                <img src="{{ request.session.url_image }} "  width='160px' height='110px'/>
    {% endif %}
    <h1><span>Cotizacion Fecha :</span>{{ cot.fecha_cot }}</h1>
</div>
<div id ="body_reporte">
<div id="left_side">
<span>Moto : </span><h4>{{ objmoto.nombre_fab|add:" "|add:objmoto.referencia|add:" "|add:objmoto.modelo }} </h4>
<span>Precio Publico : </span><h4>{{ objmoto.precio_publico }}</h4>
<span>Precio Kit Total : </span><h4>{{ precio_kit }}</h4>
<span>Cuota Inicial : </span><h4>{{ cuota_inicial }}</h4>
{%  for mat in m_asociadas %}
<span>Precio Matricula : </span><h4>{{ mat.nombre_ciudad }} : {{ mat.precio }}</h4>
{% endfor %}
</div>
<div id="right_side">
<table>
<thead>
<tr>
    <td>Nombre Matricula</td>
    {% for cot in n_cuotas %}
        <td> {{ cot.num_meses }}</td>
    {% endfor %}
</tr>
</thead>
{% for i in lista_total_cotizada|len %}
<tr>
    <td>{{ m_asociadas|lookup:i }}</td>
    {% for j in n_cuotas|len %}

        <td>$ {{ lista_total_cotizada|lookup:i|lookup:j }}</td>

    {% endfor %}
</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}