{% extends "cotizador/base.html" %}
{% load extratags %}
{% block css%}
    <link href="/static/cotizacion/base.css" rel="stylesheet" type="text/css">
    <link href="/static/cotizacion/reporte.css" rel="stylesheet" type="text/css">
    <link href="/static/cotizacion/aside.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $("#topdf").click(function(event){
            event.preventDefault()
            window.open("/reportarpdf/{{ cot.id }}/","_blank",'width=800,height=600');
        });
    });
</script>
{% endblock %}

{% block content-main %}
<div id="header_reporte">
    {% if request.session.url_image != null %}
                <img src="{{ request.session.url_image }} "  width='160px' height='110px'/>
    {% endif %}
    <h1><span>Cotizacion Fecha : </span>{{ cot.fecha_cot }}</h1>
</div>
<div id ="body_reporte">
<h1>{{ request.session.enterprise.nombre }}</h1>
<div id="left_side">
<h2>Numeracion : {{ cot.numeracion }}</h2>
<h2>Cliente : {{ cot.cliente.nombre }} {{ cot.cliente.apellidos }}</h2>
<h2>Vendedor : {{ cot.vendedor.nombre }} {{ cot.vendedor.apellidos }}</h2>
<h2>Medio : {{ cot.medio.identificador }} {{ cot.medio.medio }}</h2>
</div>
<div id="right_side">
{% autoescape off %}
  {{ tablas }}
{% endautoescape %}
</div>
</div>
    <div id="options">
        <a href="/reportemail/{{ cot.id }}"><img src="/static/cotizacion/img/mail-forward.png">Enviar Email</a>
        <a id="topdf" href="#"><img src="/static/cotizacion/img/acroread.png">Ver/Imprimir PDF</a></li>
        <a id="to_cotizador" href="/cotizacion/"><img src="/static/cotizacion/img/wallet.png">Cotizacion</a>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="menu-item">
    {% if user.is_staff %}
      <h4><a href="#">Administracion</a></h4>
      <ul>
        <li><a id="cont-panel" href="{% url 'admin:index' %}"><img src="/static/cotizacion/img/display.png"/><br>Administración</a></li>
      </ul>
    </div>
    {% endif %}

    <div class="menu-item">
      <h4><a href="#">Reportes</a></h4>
      <ul>
        <li><a href="#">Medios/Impacto</a></li>
      </ul>
    </div>

{% endblock %}