{% load admin_static %}
{% load extratags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
<link rel="stylesheet" type ="text/css" href="/static/cotizacion/aside.css" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript" src="/static/cotizacion/json.js"></script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Header -->
    <div id="header">
        <div id="branding">
            {% if request.session.url_image != null %}
                <img src="{{ request.session.url_image }}" />
            {% endif %}
        <h1>{{ request.session.enterprise.nombre }}</h1>
        </div>
        {% if user.is_active and user.is_staff %}
        <div id="user-tools">
            {% trans 'Welcome,' %}
            <strong>{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}</strong>.
            {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>



<!-- Container -->
<div id="container">

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar-log %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}
    </div>{% endblock %}
</div>
<!-- END Container -->

{% if not is_popup %}
        <div id="sidebar">

        <div class="menu-item">
        <h4><a href="#">Administracion</a></h4>
        <ul>
                    <li><a href="/admin/Sistema_Principal/cliente/">Clientes</a></li>

                    {% if request.user.is_superuser %}
                    <li><a href="/admin/Sistema_Principal/empresa/">Empresas</a></li>
                    {% endif %}
                    <li><a href="/admin/Sistema_Principal/inventario_motos/">Inventario de Motos</a></li>

                    <li><a href="/admin/Sistema_Principal/kit/">Kits</a></li>

                    <li><a href="/admin/Sistema_Principal/matricula/">Matriculas</a></li>

                    <li><a href="/admin/Sistema_Principal/medio_publicitario/">Medios Publicitarios</a></li>

                    <li><a href="/admin/Sistema_Principal/moto/">Motos</a></li>

                    <li><a href="/admin/Sistema_Principal/t_financiacion/">Registros de Financiacion</a></li>

                    <li><a href="/admin/Sistema_Principal/requisitotabla/">Requisitos para Financiacion</a></li>

                    <li><a href="/admin/Sistema_Principal/usuario/">Usuarios</a></li>
      </ul>
    </div>

    <div class="menu-item">
      <h4><a href="#">Reportes</a></h4>
      <ul>
        <li><a href="/historial_cotizaciones/">Historial de Cotizaciones</a></li>
      </ul>
    </div>

    <div class="menu-item">
      <h4><a href="#">Aplicaciones</a></h4>
        <ul>
            <li><a id="cot-panel" href="/cotizacion/"><img src="/static/cotizacion/img/wallet.png"/><br>Cotizacion</a></li>
        </ul>
      </div>
        </div>
    {% endif %}

<div id="footer">
        <p>

</p>
<!--Footer-->


</body>
</html>
