#sidebar {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.5;/*for display only*/
  width: 15%;
  min-height:500px;

}

.menu-item {
  background: #fff;
  width: 100%;
}

.menu-item h4 {
   border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  background-image: url('/static/admin/img/header_bg.png');
  background-repeat: repeat-x;
  background-size: contain;
}

.menu-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
  width: 200px;
}

.menu-item h4:hover {

}

/*First Item Styles*/
.alpha p {
    font-size: 15px;
    padding: 8px 12px;
    color: #aaa;
}

/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}

.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #aaa;
  display: block;
  width: 200px;
  font-size: 1.4em;
}

/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
}

.menu-item li:hover {
  background: #eee;
}

/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px; /*Collapses the menu*/
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}

/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;

  /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}

.menu-item:hover ul {
  height: 300px;
}