td{
    font-size: 15px;
}

thead td{
    font-weight: bold;
}

thead tr{
    background: #333 url("/static/admin/img/header_bg.png") repeat-x;
    color:#f4f379;
}



#header_reporte{
    font-weight: bold;
}

#body_reporte h4{
    font-weight: lighter;
}

#body_reporte span{
    font-weight: bold;
}

#header_reporte h4{
    display: inline-block;
    font-weight: lighter;
}

#header_reporte span:first-of-type{
    padding-left: 0px;
}


#header_reporte span{
    padding-left: 10px;
}

#header_reporte img{
    display:inline-block;
}

#header_reporte h1{
    display: inline-block;
}

#left_side{
    width:20%
}
#right_side{
    width:70%;
}


#left_side, #right_side{
    display: inline-block;
    padding-top: 4px;
    vertical-align: top;
}

#right_side table{
    width:100% !important;
}

#options{
    margin-bottom: 20px;
}

#reqs{
    padding:0px;
    margin:0px;
}

#reqs li{
    background: #333 url("/static/admin/img/header_bg.png") repeat-x;
    border-radius: 10px;
    color:#f4f379;
    padding:10px;
    display:inline-block;
    list-style: none;
    text-decoration: none;
}